@inject IStringLocalizer<PhotoBooth.Client.Pages.Index> localizer

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@localizer["captured_image_dialog.available_images"]</h5>
                    <Blazorise.button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            @onclick="() => OnCloseDialog()">
                        <span aria-hidden="true">&times;</span>
                    </Blazorise.button>
                </div>
                <div class="modal-body" style="overflow: hidden;">

                    <div style="max-height: 200px; overflow-y: auto;">
                        @foreach (var item in Images)
                        {
                            <p>
                                @item.Name<br />
                            </p>
                        }
                    </div>
                </div>
                <div class="modal-footer">

                    <Blazorise.button type="button" class="btn btn-secondary"
                            @onclick="() => ClearImages()">
                        @localizer["captured_image_dialog.clear_images"]
                    </Blazorise.button>


                    <Blazorise.button type="button" class="btn btn-danger" data-dismiss="modal"
                            @onclick="() => OnCloseDialog()">
                        @localizer["captured_image_dialog.ok"]
                    </Blazorise.button>
                </div>
            </div>
        </div>
    </div>
}