<div>
    <ul class="nav" style="justify-content: center;">

        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Name="IconName.Home" IconStyle="IconStyle.Light" TextColor="TextColor.White" />
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link" href="capture">
                <Icon Name="IconName.Camera" IconStyle="IconStyle.Light" TextColor="TextColor.White" />
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link" href="settings">
                <Icon Name="IconName.Edit" IconStyle="IconStyle.Light" TextColor="TextColor.White" />
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link" href="about">
                <Icon Name="IconName.Info" IconStyle="IconStyle.Light" TextColor="TextColor.White" />
            </NavLink>
        </li>
    </ul>
</div>
