@inject IStringLocalizer<Index> localizer




<div Class="step_container" style="width: 100%;">

    <div style="width: 100%; display: flex; flex-direction: column;">

        <div Class="header_container" style="width: 100%;">
            <Blazorise.Button class="btn btn-secondary" @onclick="GoToPreviousStep" Disabled="@IsPreviousDisabled">
                <Icon Name="IconName.ArrowLeft" IconStyle="IconStyle.Light" TextColor="TextColor.White" />
            </Blazorise.Button>
            <p>@Header</p>
            <Blazorise.Button class="btn btn-primary" @onclick="GoToNextStep" Disabled="@IsNextDisabled">
                <Icon Name="IconName.ArrowRight" IconStyle="IconStyle.Light" TextColor="TextColor.White" />
            </Blazorise.Button>
        </div>

        <div>

            <Alert Color="Blazorise.Color.Success" Visible="true">
                <AlertMessage>@Title</AlertMessage>
                <AlertDescription>
                    @Description
                </AlertDescription>
            </Alert>
        </div>

        <div Elevation="0" Style="width: 100%; display: flex; flex-grow: 1; justify-content: center; align-items: stretch;">
            <div Class="d-flex" Style="width: 80%; height:100%; margin: auto;">
                @ChildContent
            </div>

        </div>
    </div>
</div>