.capture_container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
}

.footer_right {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    padding: 0px;
}

.footer_left {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0px;
}

.p-overlay {
    padding: 10px;
    margin: 0;
    width: 100px;
    font-size: smaller;
    background-color: rgba(220, 220, 220, .4);
}

.center {
    position: absolute;
    align-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}


.center-div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-top-div {
    display: flex; /* establish flex container */
    justify-content: center; /* align items vertically, in this case */
    align-items: center; /* align items horizontally, in this case */
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #1b6ec2;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 900ms linear infinite;
}

.round-button {
    width: 200px;
    height: 200px;
}

.round-button-small {
    width: 140px;
    height: 140px;
    margin: 10px;
}

.round-button-mini {
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.round-button-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #cfdcec;
    overflow: hidden;
    background: #33691e;
    box-shadow: 0 0 3px gray;
}

.round-button-circle:hover {
    background: #689f38;
}

.round-button-circle-print {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #cfdcec;
    overflow: hidden;
    background: #33691E;
    box-shadow: 0 0 2px gray;
}

.round-button-circle-print:hover {
    background: #689f38;
}

.round-button-circle-skip {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #cfdcec;
    overflow: hidden;
    background: #BF360C;
    box-shadow: 0 0 1px gray;
}

.round-button-circle-skip:hover {
    background: #E64A19;
}


.round-button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 1rem;
}


@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}