@page "/"
@inject IStringLocalizer<Index> localizer

<h3>@localizer["home.title.welcome"]</h3>


@localizer["home.intro.camera_connected"]

<NavLink class="nav-link" href="settings">

    <Button class="btn btn-secondary">@localizer["home.check_settings"]</Button>
</NavLink>

<NavLink class="nav-link" href="capture">

    <Button class="btn btn-primary">@localizer["home.lets_go"]</Button>
</NavLink>
